cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy>=1.18.5, <1.25.0
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image==0.20.0
scikit-learn
scipy
timm>=0.4.12
tqdm
transformers==4.26.1
